.page-informations-jinengpeixun
  %ul.informations
    - @informations.each do |information|
      %li.information
        .title
          = information.title
        .content
          = information.content
        .information-type
          = information.information_type
        .image
          = image_tag(information.image)